
@media only screen and (max-width:620px) {


    .menu, .main, .right {
        width: 100%;
    }
}




.checkbox-container {
    padding-right: 5px; 
}
.checkbox-container input[type="checkbox"] {
    margin-right: 5px; 
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    font-size: 0.5em; 
}



body {
    font-size: 16px;
    line-height: 1.5;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
        line-height: 1.4;
    }


    .navbar-collapse {
        display: none;
    }
    .navbar-toggler {
        display: block;
    }
}


button {
    padding: 8px 12px;
    font-size: 14px;
}


@media (max-width: 768px) {

    button {
        padding: 12px 16px;
        font-size: 16px;
    }
}
