
body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.login {
    margin: 0 auto;
    max-width: 320px;
}

.bg {
    background-image: url('https://img.nh-hotels.net/2EpWe/JoZPJ/original/F_NH_essen_037_2000x805-0_180.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}