.room-type-1 {
    background-color: red;
    color:white;
}
.room-type-2 {
    background-color: green;
    color:white;
}
.room-type-3 {
    background-color: yellow;
}
.room-type-4 {
    background-color: blue;
}