
h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
}


a {
    color: #007bff;
}


table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table td, th {
    padding: 0.75rem;
    margin: 0;
}


table tr:hover {
    background-color: #e9ecef;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}


@media (max-width: 500px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
    }
}

button {
    padding: 0.25rem 0.5rem;
    font-size: 0.2rem;
}

@media (max-width: 500px) {
    .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.2rem;
    }
}


@media (max-width: 768px) {
 
    button {
        padding: 12px 16px;
        font-size: 16px;
    }
}




@media (min-width: 600px) {
    .bg {
        background-size: cover;
    }
}

@media (max-width: 600px) {
    .bg {
        background-size: contain;
    }
}






.room-type-1 {
    background-color: red;
    color:white;
}
.room-type-2 {
    background-color: green;
    color:white;
}
.room-type-3 {
    background-color: yellow;
}
.room-type-4 {
    background-color:#94C6FF;
    color:black;
}

.room-type-5{
    background-color:#A8FF94;
    color:black;
}
