<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center my-3">Edit Users</h1>
    <div class="container h-50 d-flex justify-content-center align-items-center">
        <div class="jumbotron text-center">
    <a class="btn btn-primary btn-lg" href="/mvc/user/createUser" role="button">Create User</a>
            </div>
        </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.roles[0].name}"></td>
            <td>
                <a th:href="@{/mvc/user/edit/{id}(id=${user.id})}" class="btn btn-primary mr-3">Edit</a>
                <a th:href="@{/mvc/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>