<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hotel Manager</title>
</head>
<body>
<h2 th:text="${message}"></h2>

<button onclick="window.location.href='/mvc/floor/viewFloors';">
    View Rooms
</button>

<button onclick="window.location.href='/mvc/floor/createFloor';">
    Create a Task
</button>

<button onclick="window.location.href='/mvc/floor/createDate';">
    createFloor
</button>

<button onclick="window.location.href='/mvc/date/viewDates';">
    viewFloor
</button>

</body>
</html>