<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Hotel Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg" style="background-image: url('https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); height: 100vh; width: 100%;">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Hotel Manager</h1>
      <p class="lead">Manage your hotel tasks and rooms with ease.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/mvc/floor/userTaskLists" role="button">View TaskLists</a>
    </div>
  </div>
</div>


</body>
</html>
