<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="bg" style="background-image: url('https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); height: 100vh; width: 100%;">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Hotel Manager</h1>
      <p class="lead">Manage your hotel tasks and rooms with ease.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/mvc/floor/userTaskLists" role="button">View TaskLists</a>
    </div>
  </div>
</div>


</body>
</html>
