<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create TaskList</title>
</head>
<body>
<h1>Create TaskList</h1>
<form th:action="@{/mvc/floor/submit}" th:object="${taskList}" method="post">
  <div>
    <label for="title">User:</label>
    <input type="text" id="title" th:field="*{title}"/>
  </div>
  <div>
    <label>Room Numbers:</label>
    <div th:each="roomNumber : ${roomNumbers}">
      <input type="checkbox" name="roomNumbers" th:value="${roomNumber.id}" th:text="${roomNumber.number}"/>
    </div>
  </div>
  <input type="submit" value="Create Task List"/>
</form>
</body>
</html>