<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Create Floor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<h2> Create Floor</h2>
<p></p>

<form th:object="${createFloor}" th:action="@{/mvc/floor/submit}" method="post">

  </div>
  <div class="mb-3 w-25 p-3">
    <label class="form-label" for="roomNumber">Room Number</label>
    <input class="form-control" type="number" id="roomNumber" th:field="*{roomNumber}"/>
  </div>


<!--  <select th:field="*{roomvalues.id}">-->
<!--    <option th:each="roomValues : ${roomValues}"-->
<!--            th:value="${roomvalues.id}"-->
<!--            th:text="${roomvalues.status}">-->
<!--      Address-->
<!--    </option>-->
<!--  </select>-->
<!--  <div class="col-md-6">-->
<!--    <div class="form-group">-->
<!--      <select th:field="*{cameraType}" class="form-control"-->
<!--              id="roomvalues">-->
<!--        <option th:each="roomvalues : ${roomvalues}"-->
<!--                th:value=${roomvalues.id}-->
<!--                th:text="${roomvalues.status}"></option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->

  <div class="col-md-6">
    <div class="form-group">
      <select th:field="*{cameraType}" class="form-control"
              id="roomType">
        <option th:each="roomType: ${roomType}"
                th:value=${roomType.id}
                th:text="${roomType.cameraType}"></option>
      </select>
    </div>
  </div>


  <div class="col-md-6">
    <div class="form-group">
      <select th:field="*{roomStatus}" class="form-control"
              id="roomStatus">
        <option th:each="roomStatus : ${roomStatus}"
                th:value=${roomStatus.id}
                th:text="${roomStatus.status}"></option>
      </select>
    </div>
  </div>


<!--  <select  id="roomvalues" name="roomvalues">-->
<!--    <option value="" disabled selected>Select an option</option>-->
<!--    <option th:each="roomvalues : ${roomvalues}"-->
<!--            th:value="${roomvalues.id}"-->
<!--            th:text="${roomvalues.status}"></option>-->
<!--  </select>-->
<!--   </br>-->


<!--    <label for="values">Select a value:</label>-->
<!--    <select id="values" name="values">-->
<!--      <option value="" disabled selected>Select an option</option>-->
<!--      <option th:each="value : ${values}"-->
<!--              th:value="${value.id}"-->
<!--              th:selected="${value.isSelected(lastselected)}"-->
<!--              th:text="${value.cameraType}"></option>-->
<!--    </select>-->

  <div class="w-25 p-3 text-end">
    <input type="submit" value="Submit" class="btn btn-primary " />
    <br>
  </div>
</form>


<p></p>

<button onclick="window.location.href='/';">
  Go back
</button>


</body>
</html>