<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Task List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1 class="text-center">View Task List</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Task List Name</th>
      <th>Room Numbers</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="taskList : ${taskLists}">
      <td th:text="${taskList.title}"></td>
      <td>
        <table>
          <tr th:each="roomNumber : ${taskList.roomNumbers}">
            <td th:text="${roomNumber.number}"></td>
            <td>
              <form th:action="@{/mvc/floor/edit}" method="post">
                <input type="hidden" th:name="roomNumberId" th:value="${roomNumber.id}"/>
                <select th:name="cameraTypeId" th:required="required">
                  <option th:each="cameraType : ${cameraTypes}" th:value="${cameraType.id}" th:text="${cameraType.name}" th:selected="${cameraType.id == roomNumber.cameraType.id}"></option>
                </select>
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>View Task Lists</title>-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--  <h1 class="text-center">View Task Lists</h1>-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">Id</th>-->
<!--      <th scope="col">Cleaner</th>-->
<!--      <th scope="col">Room Numbers</th>-->
<!--      <th scope="col">RoomStatus</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="taskList, iter : ${taskLists}">-->
<!--      <th th:text="${iter.count}"></th>-->
<!--      <td th:text="${taskList.title}"></td>-->
<!--      <td>-->
<!--        <ul>-->
<!--          <li th:each="roomNumber : ${taskList.roomNumbers}" th:text="${roomNumber.number}"></li>-->
<!--        </ul>-->
<!--      </td>-->
<!--      <td>-->
<!--        <ul style="list-style-type:none;">-->
<!--          <li th:each="roomNumber : ${taskList.roomNumbers}" th:text="${roomNumber.cameraType.name} "></li>-->
<!--        </ul>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->