<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View All TaskLists</title>
</head>
<body>
<h1>View All TaskLists</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Room Numbers</th>
  </tr>
  </thead>
  <table>
    <tr>
      <th>TaskList Title</th>
      <th>Room Number</th>
      <th>Camera Type</th>
    </tr>
    <tr th:each="taskList : ${taskLists}">
      <td th:text="${taskList.title}"></td>
      <td>
        <table>
          <tr th:each="roomNumber : ${taskList.roomNumbers}">
            <td th:text="${roomNumber.number}"></td>
            <td th:text="${roomNumber.cameraType.name}"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</table>
</body>
</html>