<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>TO DO</title>
</head>
<body>

<h2>Task List</h2>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>RoomNumber</th>
    <th>CameraType</th>
    <th>RoomStatus</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${floor.empty}">
    <td colspan="2">No floor Registered</td>
  </tr>
  <tr th:each="floor:${floor}">
    <td><span th:text="${floor.id}">ID</span></td>
    <td><span th:text="${floor.roomNumber}">RoomNumber</span></td>
    <td><span th:text="${floor.cameraType}">CameraType</span></td>
    <td><span th:text="${floor.roomStatus}">RoomStatus</span></td>
  </tr>
  </tbody>
</table>

<!--<form>-->
<!--  <label for="values">Select a value:</label>-->
<!--  <select id="values" name="values">-->
<!--    <option value="" disabled selected>Select an option</option>-->
<!--    <option th:each="value : ${values}" th:value="${value.id}" th:text="${value.name}"></option>-->
<!--  </select>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<button onclick="window.location.href='/';">
  Go HomePage
</button>
